{% load static %}
{#navar#}
{% include "./../index/navbar.html" %}


<div class="container" id="content">
    <div class="row">

        <div class="col-sm-3" id="card" >
            {#   informations primary  #}
            {% include "./show/informations.html" %}
        </div>

        <div class="col-sm-9" id="plus" >
            {#   actions #}
            {% include "./action/invite_edit_chat.html" %}

            {#   progress bar#}
            {% include "./show/bar.html" %}

            {#number case #}
            {% include "./show/number_case.html" %}

        </div>

        {#  friends and followers #}
        {% include "./show/friends_followers.html" %}


        {#posts#}
        <div class="row" id="posts">
            <div class="col-sm-12" id="display">
                {% for post in posts %}
                    <div class="post">
                        {# posts  #}
                        {% include "./../post/show/posts.html" %}

                        {% if request.user != user %}
                            <div id="action-take-result">
                            </div>
                            <div id="action-take">
                                <button id="take" onclick="take({{ post.id }})">Prendre le pari</button>
                                <button id="take" onclick="display_comment({{ post.id }})">Négocier le pari</button>
                            </div>
                        {% else %}
                            {% if post.commentary_set.all %}
                                <button id="take" onclick="display_comment({{ post.id }})">voir les enchères {{ post.commentary_set.all.count }}</button>
                            {% endif %}
                        {% endif %}

                        {#  activation if action js #}
                        <div class="display-comment-all" id="display-comment-{{ post.id }}">
                            <a id="minus" onclick="closeComment({{ post.id }})"><i id="send" class="fa fa-remove"></i></a>
                            {#  comment a user post  #}
                            {% include "./../post/action/comment.html" %}

                            {% if post.commentary_set.all %}
                                {% for commentary in post.commentary_set.all %}
                                    {#  commentaries#}
                                    {% include "./../post/show/commentaries.html" %}
                                {% endfor %}
                            {% endif %}



                        </div>

                    </div>
                {% endfor %}
            </div>
        </div>

        {# write posts #}
        {% include "./../post/action/post.html" %}

        {# write chat #}
        {% include "./action/chat.html" %}

        {# display chats #}
        {% include "./show/chats.html" %}

        {#  friends and followers #}
        {% include "./show/friends_followers.html" %}

    </div>
</div>

{# footer #}
{% include "./../index/footer.html" %}