{% load static %}
{#navar#}
{% include "./../index/navbar.html" %}


<div id="content" class="container" >
    <div class="row">

        <div id="card" class="col-sm-4">
            {#   informations primary  #}
            {% include "./show/informations.html" %}
        </div>

        <div id="plus" class="col-sm-8">
            {#   actions #}
            {% include "./action/invite_edit_chat.html" %}

            {#   progress bar#}
            {% include "./show/bar.html" %}

            {#number case #}
            {% include "./show/number_case.html" %}

        </div>

        {#  friends and followers #}
        {% include "./show/friends_followers.html" %}


        {#posts#}
        <div class="row" id="posts">
            <div class="col-sm-12" id="display">
                {% for post in posts %}
                    <div class="post">
                        {# posts  #}
                        {% include "./../post/show/posts.html" %}

                        {% if post.commentary_set.all %}
                            {% for commentary in post.commentary_set.all %}
                                {#  commentaries  #}
                                {% include "./../post/show/commentaries.html" %}
                            {% endfor %}
                        {% endif %}

                        {# comment a user post  #}
                        {% include "./../post/action/comment.html" %}


                    </div>
                {% endfor %}
            </div>
        </div>

        {# write posts #}
        {% include "./../post/action/post.html" %}

        {# write chat #}
        {% include "./action/chat.html" %}

        {# display chats #}
        {% include "./show/chats.html" %}

        {#  friends and followers #}
        {% include "./show/friends_followers.html" %}

    </div>
</div>
