{# user connect #}
{% if request.user.is_authenticated %}
    {#   action auth #}
    {% include "./internal/profil_action_auth.html" %}

    {#    form post #}
    {% include "./internal/profil_action_post.html" %}
{% endif %}


{# user #}
{% if user.is_authenticated %}

    {# informations #}
    {% include "./informations/profil_inform.html" %}
    {% include "./informations/profil_friends.html" %}
    {% include "./informations/profil_files.html" %}


    {% if request.user != user and request.user.is_authenticated %}
        {# inviations friend #}
        {% include "./external/profil_action_invita.html" %}
    {% endif %}


    {# posts #}
    <h4>{{ posts.count }} Posts :</h4>
    <ul>
        {% for post in posts %}
            {#   information post#}
            {% include "./informations/profil_post.html" %}

            {#  form like#}
            {% if request.user != user and request.user.is_authenticated %}
                {% include "./external/profil_action_like.html" %}
            {% endif %}

            {#  commentaries by post#}
            <ul>
                {#   informations commentary#}
                {% include "./informations/profil_com.html" %}

                {# form commentary #}
                {% if request.user != user and request.user.is_authenticated %}
                    {% include "./external/profil_action_com.html" %}
                {% endif %}
            </ul>
        {% endfor %}
    </ul>

{% endif %}


{# search user  #}
{% include "./informations/profil_others.html" %}