{% block content %}
    <h1>Profil de {{ request.user.username }}</h1>
    <ul>
        <li>
            <a href="{% url 'logout' %}" class="top-menu">
                <span class="glyphicon glyphicon-plus">Déconnexion</span>
            </a>
        </li>
        <li>
            <a href="{% url 'edit' request.user.id %}" class="top-menu">
                <span class="glyphicon glyphicon-plus">Editer</span>
            </a>
        </li>
        <li>
            <a href="{% url 'profil' request.user.id %}" class="top-menu">
                <span class="glyphicon glyphicon-plus">Vos informations</span>
            </a>
        </li>
    </ul>
{% endblock %}