{# user connect #}
{% if request.user.is_authenticated %}
    {#   action auth #}
    {% include "./internal/profil_action_auth.html" %}

    {#    form post #}
    {% include "./internal/profil_action_post.html" %}

    {#    show mission dev #}
    {% include "./internal/profil_show_miss_dev.html" %}

    {#    show mission #}
    {% include "./internal/profil_show_miss.html" %}

{% endif %}


{# user #}
{% if user.is_authenticated %}

    {# informations #}
    {% include "./informations/profil_inform.html" %}
    {#    friends#}
    {% include "./informations/profil_friends.html" %}
    {#    files#}
    {% include "./informations/profil_files.html" %}


    {% if request.user != user and request.user.is_authenticated %}
        {# inviations friend #}
        {% include "./external/profil_action_invita.html" %}

        {# write chat#}
        {% include "./internal/profil_action_chat.html" %}
        {#  chats#}
        {% include "./informations/profil_chat.html" %}

    {% endif %}


    {# all posts #}
    <h4>{{ countPosts }} Posts : </h4>
    <ul>
        {% for post in posts %}
            {% if post.description == "Research" %}

                {#   information post#}
                {% include "./informations/profil_post.html" %}

                {#  action edit the post #}
                {% if request.user == user and request.user.is_authenticated %}
                    {% include "./internal/profil_action_edit_post.html" %}
                {% endif %}

                {#  form like#}
                {% if request.user != user and request.user.is_authenticated %}
                    {% include "./external/profil_action_like.html" %}
                {% endif %}

                {# all commentaries by post#}
                <ul>
                    {% if post.commentary_set.all %}

                        {#  filter commentary  #}
                        <select>
                            <option>Date</option>
                            <option>Prix</option>
                        </select>
                        {% for commentary in post.commentary_set.all %}

                            {#   informations commentary#}
                            {% include "./informations/profil_com.html" %}

                            {#  action form accept this commentary => mission   #}
                            {% if user.id == request.user.id %}
                                {% include "./internal/profil_action_acce_post.html" %}
                            {% endif %}

                        {% endfor %}
                    {% endif %}


                    {# form commentary #}
                    {% if request.user != user and request.user.is_authenticated %}
                        {% include "./external/profil_action_com.html" %}
                    {% endif %}
                </ul>
            {% endif %}
        {% endfor %}
    </ul>

{% endif %}


{# search user  #}
{% include "./informations/profil_others.html" %}