/* bar xp*/
#bar{
    margin-top: 40px;
    height: 75px;
}

#bar .col-sm-1, #bar .col-sm-9{
    position: static;
    padding-top: 10px;
}

#myProgress {
    width: 100%;
    background-color: #ddd;
    border-radius: 10px;

}

#myBar {
    padding-top: 4px;
    height: 30px;
    background-color: #4CAF50;
    color: white;
    border-radius: 10px;
}