{% block content %}
    <h1>Donné votre avis sur le travail fait</h1>
    <form method="post" enctype="multipart/form-data" >
        {% csrf_token %}
        {% for field in form %}
            <p>
                {{ field.label_tag }}<br>
                {{ field }}
                {% if field.help_text %}
                    <small style="color: grey">{{ field.help_text }}</small>
                {% endif %}
            </p>
        {% endfor %}
        <button type="submit">Envoyer</button>
    </form>
{% endblock %}