{% load static %}
{% block content %}
    {# mission dev informations#}
    <h4>Vos missions à developer : </h4>
    {% for mission in missionsDevRequest %}
        <li>titre {{ mission.proposition.title }}</li>
        <li>contenu {{ mission.proposition.text }}</li>
        <li>pour {{ mission.proposition.author.user.username }}</li>
        <li>gain : {{ mission.accept.price }}</li>
        <li>date de rendu : {{ mission.proposition.deadline }}</li>

         {% if mission.proposition.file != "False" %}
            <li> Document :</li>
            <embed src="{% static "/media/"%}{{ mission.proposition.file }}" width="300px" height="400px" type="application/pdf" />
        {% endif %}
        <br>
    {% endfor %}
{% endblock %}