{% load static %}
{% block content %}
    <div id="profile" class="container">
        <div class="row">
            <div id="card" class="col-sm-4">
                {% if user.profile.picture.name != "False" %}
                    <img class="picture" src="{% static "/media/"%}{{ user.profile.picture.url }}", alt="Pas de photo"/>
                {% endif %}
                <h1>{{ user.username}}</h1>
                <p class="titleProfile">
                    {% if user.profile.online %} En ligne {% else %} Hors ligne {% endif %}
                    {% if user.profile.last_seen and user.profile.online == False %} depuis : {{ user.profile.last_seen|timesince }}{% endif %}
                </p>
                <div class="info">
                    <p>Prénom : {{ user.first_name }}</p>
                    <p>Nom : {{ user.last_name }}</p>

                </div>
            </div>

            {#            actions #}
            <div id="plus" class="col-sm-8">
                <div class="row">
                    {% if request.user.is_authenticated  and request.user == user %}
                        <div id="static" class="col-sm-1">
                            <a href="{% url 'edit' request.user.id %}"><button>Modifier</button></a>
                        </div>
                    {% endif %}
                    {% if request.user != user and request.user.is_authenticated %}
                        {# button invite  #}
                        <div id="static" class="col-sm-2">
                            {% if user in request.user.profile.friends.all %}
                                <div class="check">Abonné</div>
                            {% else %}
                                <form method="post" action="{% url 'invitation' user.id %}">
                                    {% csrf_token %}
                                    <button type="submit" >Suivre</button>
                                </form>
                            {% endif %}
                        </div>
                        <div id="static" class="col-sm-2">
                            <button onclick="openChat()" id="chat">Discuter</button>
                        </div>
                    {% endif %}
                </div>


                {#                progress bar#}
                <div id="bar" class="row">
                    {% if xp != 0 %}
                        <div class="col-sm-1">XP :</div>
                        <div class="col-sm-1">1</div>
                        <div class="col-sm-9">
                            <div id="myProgress">
                                <div id="myBar" style="width: {{ xp }}%">
                                    {{ xp }}/200
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-1">2</div>
                    {% endif %}
                </div>


                {#number case #}
                <div class="row">
                    {% if averageMark != 0 %}
                        <div class="column">
                            <div class="card">
                                <p><i class="fa fa-user"></i></p>
                                <h3>
                                    {{ averageMark }}/20
                                </h3>
                                <p>Note</p>
                            </div>
                        </div>
                    {% endif %}
                    <div class="column">
                        <div class="card">
                            <p><i class="fa fa-user"></i></p>
                            <h3>{{ friends.count }}</h3>
                            <p>Abonnement</p>
                        </div>
                    </div>

                    <div class="column">
                        <div class="card">
                            <p><i class="fa fa-user"></i></p>
                            <h3>{{ followers.count }}</h3>
                            <p>Abonnés</p>
                        </div>
                    </div>

                    <div class="column">
                        <div class="card">
                            <p><i class="fa fa-check"></i></p>
                            <h3>{{ commentaryMissionDevRequest.count }}</h3>
                            <p>Projets déve</p>
                        </div>
                    </div>

                    <div class="column">
                        <div class="card">
                            <p><i class="fa fa-check"></i></p>
                            <h3>{{ posts.count }}</h3>
                            <p>Projets prop</p>
                        </div>
                    </div>

                </div>


            </div>
        </div>


        {#        friends#}
        <div class="row">
            <div id="display" class="col-sm-12">
                {% for friend in friends %}
                    <a href="{% url 'profile' friend.id %}" class="top-menu">
                        <div class="chip">
                            {% if friend.profile.picture.name != "False" %}
                                <img src="{% static "/media/"%}{{ friend.profile.picture.url }}" alt="Person" width="96" height="96">
                            {% endif %}
                            {{friend.username}}
                        </div>
                    </a>
                {% endfor %}
            </div>
        </div>


        {#        followers#}
        <div class="row">
            <div id="display" class="col-sm-12">
                {% for follower in followers %}
                    <a href="{% url 'profile' follower.user.id %}" class="top-menu">
                        <div class="chip">
                            {% if follower.picture.name != "False" %}
                                <img src="{% static "/media/"%}{{ follower.picture.url }}" alt="Person" width="96" height="96">
                            {% endif %}
                            {{follower.user.username}}
                        </div>
                    </a>
                {% endfor %}
            </div>
        </div>


        {#posts#}
        <div class="row">
            <div id="display" class="col-sm-12">
                {% for post in posts %}
                    <div class="post">
                        {#                    information post#}
                        <div class="row">
                            <div id="static" class="col-sm-4">
                                <a href="{% url 'profile' user.id %}" class="top-menu">
                                    <div class="chip">
                                        {% if user.profile.picture.name != "False" %}
                                            <img src="{% static "/media/"%}{{ user.profile.picture.url }}" alt="Person" width="96" height="96">
                                        {% endif %}
                                        {{user.username}}
                                    </div>
                                </a>
                                {% if request.user == user and request.user.is_authenticated %}
                                    <a id="edit" href="{% url 'edit' user.id post.id  %}" class="top-menu">
                                        Editer
                                    </a>
                                    <form method="post" action="{% url "delete" user.id post.id %}">
                                        {% csrf_token %}
                                        <button id="edit" type="submit">Delete</button>
                                    </form>
                                {% endif %}
                            </div>
                            <div id="static"  class="col-sm-4">
                                <p class="titlePost">{{ post.title }}</p>
                            </div>


                            <div id="static"  id="likeNumber" class="col-sm-2">
                                {% if request.user != user and request.user.is_authenticated %}
                                    {% if post in postsUserLikedRequest %}
                                        {{ post.like_set.all.count}}
                                        <i id="likeActive" class="fa fa-thumbs-up"></i>
                                    {% else %}
                                        <form method="post" action="{% url 'like' user.id post.id %}">
                                            {% csrf_token %}
                                            {{ post.like_set.all.count}}
                                            <button id="likeButton" type="submit">
                                                <i id="like" class="fa fa-thumbs-up"></i>
                                            </button>
                                        </form>
                                    {% endif %}
                                {% endif %}
                            </div>
                        </div>

                        <p class="text">{{ post.text }}</p>

                        <div class="row">
                            <div id="static"  class="col-sm-2">
                                <p class="conditions">Prix : {{ post.price }}</p>
                            </div>
                            <div id="static"  class="col-sm-2">
                                <p class="conditions">Pour le : {{ post.deadline }}</p>
                            </div>
                            <span class="time-left">{{ post.date }}</span>
                        </div>
                        {#  file  #}
                        {% if post.file != "False" %}
                            <li> Document :</li>
                            <embed src="{% static "/media/"%}{{ post.file }}" width="300px" height="400px" type="application/pdf" />
                        {% endif %}


                        {% if post.commentary_set.all %}
                            {% for commentary in post.commentary_set.all %}
                                <div id="commentaries">
                                    {#   informations commentary#}
                                    <div class="row">
                                        <div id="static"  class="col-sm-4">
                                            <a href="{% url 'profile' commentary.author.user.id %}" class="top-menu">
                                                <div class="chip">
                                                    {% if commentary.author.picture.name != "False" %}
                                                        <img src="{% static "/media/"%}{{ commentary.author.picture.url }}" alt="Person" width="96" height="96">
                                                    {% endif %}
                                                    {{commentary.author.user.username}}
                                                </div>
                                            </a>
                                            {% if user.id == request.user.id %}
                                                <form method="post" action="{% url "accept" user.id post.id commentary.id %}">
                                                    {% csrf_token %}
                                                    <button id="edit">accepté</button>
                                                </form>
                                            {% endif %}
                                        </div>
                                    </div>
                                    <p class="text">{{ commentary.text }}</p>
                                    <div class="row">
                                        <div id="static"  class="col-sm-2">
                                            <p class="conditions">Prix : {{ commentary.price }}</p>
                                        </div>
                                        <span class="time-left">{{ commentary.date }}</span>
                                    </div>
                                </div>
                            {% endfor %}
                        {% endif %}
                        {% if request.user != user and request.user.is_authenticated %}
                            <div id="commentaries">
                                <div id="commentForm">
                                    <form method="post" action="{% url 'comment'  user.id post.id %}">
                                        {% csrf_token %}
                                        {% for field in Commentaryform %}
                                            {{ field }}<br>
                                        {% endfor %}
                                        <button id="edit" type="submit">Envoyé</button>
                                    </form>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        </div>





        <div id="results"></div>

        <div class="chat-popup" id="myChat">
            <form id="chat-form" class="form-container" action="{% url 'chat' user.id %}" method="POST">
                <h1>Chat</h1>
                {% csrf_token %}
                {{ Chatform.text }}
                <button type="submit" class="btn">Envoyé</button>
                <button type="button" class="btn cancel" onclick="closeChat()">Close</button>
            </form>
        </div>


    </div>
{% endblock %}