{% block content %}
    {# mission dev informations#}
    <h4>{{ postsMissionRequest.count  }} missions prisent en charge: </h4>
    {% for post in postsMissionRequest %}
        {% if post.mission.description == False %}
            <li>developer {{ post.mission.accept.author.user.username }}</li>
            <li>price : {{ post.mission.accept.price }}</li>
            <li>date de rendu : {{ post.mission.proposition.deadline }}</li>
        {% endif %}
        <br>
    {% endfor %}
{% endblock %}