{% block content %}
    <div class="row">
        <a onclick="display_commenatry()">

            <div class="column">
                <div class="card commentary">
                    <p><i class="fa fa-heart"></i></p>
                    <h3>
                        {{ confidence }}%/{{ number }}
                    </h3>
                    <p>Confiance</p>
                </div>
            </div>

        </a>
        <div class="column">
            <a onclick="display_friends()">
                <div class="card friends">
                    <p><i class="fa fa-user"></i></p>
                    <h3>{{ friends.count }}</h3>
                    <p>Abonnement</p>
                </div>
            </a>
        </div>

        <div class="column">
            <a onclick="display_followers()">
                <div class="card followers">
                    <p><i class="fa fa-group"></i></p>
                    <h3>{{ followers.count }}</h3>
                    <p>Abonnés</p>
                </div>
            </a>
        </div>

        <div class="column">
            <a onclick="display_missions()">
                <div class="card missions">
                    <p><i class="fa fa-money"></i></p>
                    <h3>{{ missions.count }}</h3>
                    <p>Versus</p>
                </div>
            </a>
        </div>

        <div class="column">
            <a onclick="display_posts()">
                <div class="card posts">
                    <p><i class="fa fa-balance-scale"></i></p>
                    <h3>{{ posts.count }}</h3>
                    <p>Enchère</p>
                </div>
            </a>
        </div>
    </div>
    </div>

{% endblock %}