{% load static %}
{% block content %}
    {# mission dev informations#}
    <h4>missions à developer : </h4>
    {% for commentary in commentaryMissionDevRequest %}
        {# mission o develop pending #}
        {% if commentary.mission.description == False %}
            <li>titre {{ commentary.mission.proposition.title }}</li>
            <li>contenu {{commentary.mission.proposition.text }}</li>
            <li>pour {{ commentary.mission.proposition.author.user.username }}</li>
            <li>gain : {{ commentary.mission.accept.price }}</li>
            <li>date de rendu : {{ commentary.mission.proposition.deadline }}</li>

            {% if commentary.mission.proposition.file != "False" %}
                <li> Document :</li>
                <embed src="{% static "/media/"%}{{ commentary.mission.proposition.file }}" width="300px" height="400px" type="application/pdf" />
            {% endif %}
            {#            <li>#}
            {#                <a href="{% url 'cancel' post.mission.id  %}" class="top-menu">#}
            {#                    <span class="glyphicon glyphicon-plus">annuler</span>#}
            {#                </a>#}
            {#            </li>#}
            <li>
                <a href="{% url 'deposit' commentary.mission.id  %}" class="top-menu">
                    <span class="glyphicon glyphicon-plus">déposer votre travail</span>
                </a>
            </li>
            <br>
        {% else %}
            {# historic if you deposit #}
            <h4>Historic de dévelopement</h4>
            <li>titre {{ commentary.mission.proposition.title }}</li>
            <li>contenu {{commentary.mission.proposition.text }}</li>
            <li>pour {{ commentary.mission.proposition.author.user.username }}</li>

            {% if commentary.mission.result.mark %}
                <li>note : {{ commentary.mission.result.mark }}</li>
                <li>avis : {{ commentary.mission.result.opinion }}</li>
            {% else %}
                <li>En attente de notation</li>
            {% endif %}
        {% endif %}
    {% endfor %}
{% endblock %}