{% block content %}

    <h1>Profil de {{ request.user.username }}</h1>

    {#    action authenticate#}
    <ul>
        <li>
            <a href="{% url 'logout' %}" class="top-menu">
                <span class="glyphicon glyphicon-plus">Déconnexion</span>
            </a>
        </li>
        <li>
            <a href="{% url 'edit' request.user.id %}" class="top-menu">
                <span class="glyphicon glyphicon-plus">Editer</span>
            </a>
        </li>
        <li>
            <a href="{% url 'profile' request.user.id %}" class="top-menu">
                <span class="glyphicon glyphicon-plus">Vos informations</span>
            </a>
        </li>
         <li>
            <a href="{% url 'wall' %}" class="top-menu">
                <span class="glyphicon glyphicon-plus">Votre mur d'actualité</span>
            </a>
        </li>
    </ul>
{% endblock %}