{% load static %}

{% block content %}

    <h4>Chatez</h4>
    {#   write chat post #}
    <form action="{% url 'chat' user.id %}" method="POST" id="chat-form" >
        {% csrf_token %}
        {{ Chatform.text }}
        <div id="results"></div> <!-- errors go here -->
        <input type="submit" value="Envoyé">
    </form>

    <script type="text/javascript" src="{% static "/js/jQuery.js" %}"></script>
    <script type="text/javascript" src="{% static "/js/chat.js" %}"></script>

{% endblock %}