{% load static %}

{% block content %}
    {# information post#}
    <div class="row">
        <div class="col-sm-5">
            <a href="{% url 'profile' user.id %}" class="top-menu">
                <div class="chip">
                    {% if user.profile.picture.name != "False" %}
                        <img src="{% static "/media/"%}{{ user.profile.picture.url }}" alt="Person" width="96" height="96">
                    {% endif %}
                    {{user.username}}
                </div>
            </a>
            {% if request.user == user and request.user.is_authenticated %}
                <a id="edit" href="{% url 'edit' user.id post.id  %}" class="top-menu">
                    Editer
                </a>
                <form method="post" action="{% url "delete" user.id post.id %}">
                    {% csrf_token %}
                    <button id="edit" type="submit">Delete</button>
                </form>
            {% endif %}
        </div>
        <div  class="col-sm-5">
            <p class="titlePost">{{ post.title }}</p>
        </div>


        <div id="likeNumber" class="col-sm-2">
            {% if post in postsUserLikedRequest or request.user == user%}
                {{ post.like_set.all.count}}
                <i id="likeActive" class="fa fa-share-alt"></i>
            {% else %}
                <form method="post" action="{% url 'like' user.id post.id %}">
                    {% csrf_token %}
                    {{ post.like_set.all.count}}
                    <button id="likeButton" type="submit">
                        <i id="like" class="fa fa-share-alt"></i>
                    </button>
                </form>
            {% endif %}
        </div>
    </div>

    <p class="text">{{ post.text }}</p>

    <div class="row">
        {% if request.user %}
            <div  class="col-sm-2">
                <p class="conditions">Ma Mise : {{ post.price }}</p>
            </div>
            <div  class="col-sm-2">
                <p class="conditions"> Ma Cote : {{ post.cotation }}</p>
            </div>

            <div  class="col-sm-2">
                <p class="conditions">Mise adversaire : {{ post.priceUser }}</p>
            </div>
            <div  class="col-sm-2">
                <p class="conditions">Cote adversaire : {{ post.cotationUser }}</p>
            </div>
        {% endif %}

        <div  class="col-sm-2">
            <p class="conditions">Avant  le : {{ post.deadline }}</p>
        </div>
        <span class="time-left">{{ post.date }}</span>
    </div>
    {#  file  #}
    {% if post.file != "False" %}
        <li> Document :</li>
        <embed src="{% static "/media/"%}{{ post.file }}" width="300px" height="400px" type="application/pdf" />
    {% endif %}


    {#    action #}
    {% if request.user != user %}
        <div id="action-take-confirm"></div>
        <div id="action-take">
            <button id="take" onclick="takePopup({{ post.priceUser }})">Prendre le pari</button>
            <button id="take" onclick="displayComment({{ post.id }})">Négocier le pari</button>
        </div>
    {% else %}
        {% if post.commentary_set.all %}
            <button id="take" onclick="displayComment({{ post.id }})">voir les enchères {{ post.commentary_set.all.count }}</button>
        {% endif %}
    {% endif %}


    {#  popup take  #}
    <div  id="take-popup" class="popup">
        <div class="submit-modal-content animate">
            <div class="title-popup">
                <div class="title">Prendre le pari</div>
            </div>
            <div class="action-take-result"></div>
            <input class="button send" type="submit" onclick="take({{ post.id }})" value="Accepté">
            <input class="button cancel" value="Annuler" onclick="closeTake()">
        </div>
    </div>


{% endblock %}